.profile-picture {
  height: 50%;
  border-radius: 50%;
  border: 10px solid;
  margin-top: 0px; }

.profile-picture-container {
  height: 50vh; }

.background-header {
  position: absolute;
  mask-image: linear-gradient(to bottom, black, transparent); }

@media screen and (min-width: 1400px) {
  .background-header {
    width: 100vw; } }

